__pycache__/transform_json_to_excel.cpython-313.pyc
accessibility_checker/__pycache__/lighthouse_checker.cpython-313.pyc
chrome-win/135.0.7041.0.manifest
chrome-win/chrome.dll
chrome-win/chrome.exe
chrome-win/chrome_100_percent.pak
chrome-win/chrome_200_percent.pak
chrome-win/chrome_elf.dll
chrome-win/chrome_proxy.exe
chrome-win/chrome_pwa_launcher.exe
chrome-win/chrome_wer.dll
chrome-win/D3DCompiler_47.dll
chrome-win/debug.log
chrome-win/dxcompiler.dll
chrome-win/dxil.dll
chrome-win/elevated_tracing_service.exe
chrome-win/elevation_service.exe
chrome-win/eventlog_provider.dll
chrome-win/First Run
chrome-win/icudtl.dat
chrome-win/interactive_ui_tests.exe
chrome-win/IwaKeyDistribution/iwa-key-distribution.pb
chrome-win/IwaKeyDistribution/manifest.json
chrome-win/libEGL.dll
chrome-win/libGLESv2.dll
chrome-win/locales/af.pak
chrome-win/locales/am.pak
chrome-win/locales/ar-XB.pak
chrome-win/locales/ar.pak
chrome-win/locales/bg.pak
chrome-win/locales/bn.pak
chrome-win/locales/ca.pak
chrome-win/locales/cs.pak
chrome-win/locales/da.pak
chrome-win/locales/de.pak
chrome-win/locales/el.pak
chrome-win/locales/en-GB.pak
chrome-win/locales/en-US.pak
chrome-win/locales/en-XA.pak
chrome-win/locales/es-419.pak
chrome-win/locales/es.pak
chrome-win/locales/et.pak
chrome-win/locales/fa.pak
chrome-win/locales/fi.pak
chrome-win/locales/fil.pak
chrome-win/locales/fr.pak
chrome-win/locales/gu.pak
chrome-win/locales/he.pak
chrome-win/locales/hi.pak
chrome-win/locales/hr.pak
chrome-win/locales/hu.pak
chrome-win/locales/id.pak
chrome-win/locales/it.pak
chrome-win/locales/ja.pak
chrome-win/locales/kn.pak
chrome-win/locales/ko.pak
chrome-win/locales/lt.pak
chrome-win/locales/lv.pak
chrome-win/locales/ml.pak
chrome-win/locales/mr.pak
chrome-win/locales/ms.pak
chrome-win/locales/nb.pak
chrome-win/locales/nl.pak
chrome-win/locales/pl.pak
chrome-win/locales/pt-BR.pak
chrome-win/locales/pt-PT.pak
chrome-win/locales/ro.pak
chrome-win/locales/ru.pak
chrome-win/locales/sk.pak
chrome-win/locales/sl.pak
chrome-win/locales/sr.pak
chrome-win/locales/sv.pak
chrome-win/locales/sw.pak
chrome-win/locales/ta.pak
chrome-win/locales/te.pak
chrome-win/locales/th.pak
chrome-win/locales/tr.pak
chrome-win/locales/uk.pak
chrome-win/locales/ur.pak
chrome-win/locales/vi.pak
chrome-win/locales/zh-CN.pak
chrome-win/locales/zh-TW.pak
chrome-win/MEIPreload/manifest.json
chrome-win/MEIPreload/preloaded_data.pb
chrome-win/notification_helper.exe
chrome-win/PrivacySandboxAttestationsPreloaded/manifest.json
chrome-win/PrivacySandboxAttestationsPreloaded/privacy-sandbox-attestations.dat
chrome-win/resources.pak
chrome-win/setup.exe
chrome-win/v8_context_snapshot.bin
chrome-win/vk_swiftshader.dll
chrome-win/vk_swiftshader_icd.json
chrome-win/vulkan-1.dll
downloaded_images/138f47fddb.jpg
downloaded_images/24px.svg
downloaded_images/7ad4d23aed.jpg
downloaded_images/7d4e7a9e9b.jpg
downloaded_images/b788ad4256.jpg
downloaded_images/close.svg
downloaded_images/F2.jpg
downloaded_images/FAlphaLegion1.jpg
downloaded_images/FCaptainZorax1.jpg
downloaded_images/FShadowJaegersquad1.jpg
downloaded_images/FStormcastEternalsTheBlacktalons.jpg
downloaded_images/FWorldEaters1.jpg
downloaded_images/googlelogo_color_42x16dp.png
downloaded_images/image_with_text.png
downloaded_images/logo-3a13.png
downloaded_images/logo-my-barcelo-benefits-banner-gris.svg
downloaded_images/profile.svg
downloaded_images/test-image.jpg
downloaded_images/tr
manual_checks/__pycache__/check_accordion_aria_expanded.cpython-313.pyc
manual_checks/__pycache__/check_aria_label_in_div.cpython-313.pyc
manual_checks/__pycache__/check_button_aria_expanded.cpython-313.pyc
manual_checks/__pycache__/check_button_aria_pressed.cpython-313.pyc
manual_checks/__pycache__/check_buttons_only_by_color.cpython-313.pyc
manual_checks/__pycache__/check_combobox_aria_expanded.cpython-313.pyc
manual_checks/__pycache__/check_dropdown_contrast.cpython-313.pyc
manual_checks/__pycache__/check_dropdown_focus_contrast.cpython-313.pyc
manual_checks/__pycache__/check_duplicate_ids.cpython-313.pyc
manual_checks/__pycache__/check_focus_order.cpython-313.pyc
manual_checks/__pycache__/check_focus_visible.cpython-313.pyc
manual_checks/__pycache__/check_form_error_identification.cpython-313.pyc
manual_checks/__pycache__/check_icons_informative.cpython-313.pyc
manual_checks/__pycache__/check_images_decorative.cpython-313.pyc
manual_checks/__pycache__/check_images_of_text.cpython-313.pyc
manual_checks/__pycache__/check_inaccurate_image_text.cpython-313.pyc
manual_checks/__pycache__/check_info_and_relationships.cpython-313.pyc
manual_checks/__pycache__/check_input_border_contrast_tester.cpython-313.pyc
manual_checks/__pycache__/check_invalid_elements_in_list.cpython-313.pyc
manual_checks/__pycache__/check_keyboard_accessibility.cpython-313.pyc
manual_checks/__pycache__/check_menu_text_spacing.cpython-313.pyc
manual_checks/__pycache__/check_mobile_button_aria_expanded.cpython-313.pyc
manual_checks/__pycache__/check_name_role_value.cpython-313.pyc
manual_checks/__pycache__/check_overlay_timeout.cpython-313.pyc
manual_checks/__pycache__/check_page_title_language.cpython-313.pyc
manual_checks/__pycache__/check_page_title_site_name.cpython-313.pyc
manual_checks/__pycache__/check_placeholder_contrast.cpython-313.pyc
manual_checks/__pycache__/check_reflow_320px.cpython-313.pyc
manual_checks/__pycache__/check_session_timeout.cpython-313.pyc
manual_checks/__pycache__/check_tab_aria_selected.cpython-313.pyc
manual_checks/__pycache__/check_text_spacing_cropping.cpython-313.pyc
manual_checks/__pycache__/check_toast_errors.cpython-313.pyc
manual_checks/__pycache__/check_zoom_text_cutoff.cpython-313.pyc
manual_checks/__pycache__/focus_order_tester.cpython-313.pyc
